<nav class="nav bg-slate-500 p-0">
  <div class="grid grid-cols-5 gap-10">
    <a class="rounded p-5" href="/">
      <img src="logo.png" class="h-6 m-0"/>
    </a>
    <a class="text-center py-4 text-white font-bold hover:text-slate-800 hover:bg-slate-300" href="/projects">Projects</a>
    <a class="text-center py-4 text-white font-bold hover:text-slate-800 hover:bg-slate-300" href="/cv">CV</a>
    <a class="text-center py-4 text-white font-bold hover:text-slate-800 hover:bg-slate-300" href="/contact">Contact</a>
  </div>
</nav>

<main class="h-screen">
  <router-outlet />
</main>

<footer class="footer bg-slate-500 p-10">
  <p class="text-center text-white text-bold">&#169; 2024 Víctor Saakes</p>
</footer>