<div class="p-5">
    <h1 class="text-2xl text-center">About me</h1>
    <p>I'm a web developer based in Valencia, Spain. Take a look at some of my latest projects:</p>
    <ul class="list-none pl-5">
        <li class="before:content-['🔹'] before:mr-2 hover:text-blue-500 cursor-pointer">
            <a href="https://centrovergara.onrender.com/es">Centro Vergara website</a>
        </li>
        <li class="before:content-['🔹'] before:mr-2 hover:text-blue-500 cursor-pointer">
            <a href="https://gameforum.onrender.com">GameForum</a>
        </li>
    </ul>
</div>