<div class="grid grid-cols-2 p-10">
    <div>
        <h1 class="text-3xl text-center font-bold text-slate-800">Hi, I'm Victor 👋</h1>

        <p class="text-slate-800 m-5 mt-10 mb-2">I'm a full stack web developer based in Valencia, Spain. Take a look at some of my latest projects:</p>
        <ul class="list-none ml-5">
            <li class="before:content-['🔹'] before:mr-2 hover:text-blue-500 cursor-pointer">
                <a href="https://gameforum.onrender.com">GameForum, a social network for media critics</a>
            </li>
            <li class="before:content-['🔹'] before:mr-2 hover:text-blue-500 cursor-pointer">
                <a href="https://centrovergara.onrender.com/es">Centro Vergara website</a>
            </li>
        </ul>

        <p class="text-slate-800 m-5 mt-10 mb-2">Alternatively, you can also check out <a class="text-blue-500 hover:underline" href="https://github.com/vicsaa01">my GitHub page</a></p>
    </div>

    <div class="border border-slate-700 rounded-lg grid grid-cols-2">
        <img class="rounded-full mx-auto my-10" src="foto.png"/>
        <div class="mt-10">
            <h3 class="text-2xl text-center">Personal info</h3>
            <ul class="list-disc p-10 space-y-5">
                <li>Full name: Víctor Saakes Vergara</li>
                <li>Nationality: spanish, dutch</li>
                <li>E-mail: victorsaakes&#64;gmail.com</li>
            </ul>
        </div>
    </div>
</div>